<html>
  <title>xiaoshuo</title>
  <body style="position: static;">
    <div class="container">
      <form class="form-inline" role= "form" action="/chapters" method="get">
        <div class="form-group"> 
          <label class="sr-only" for="exampleInputEmail2">小说名</label>
          <input type="text" class="form-control" name="name" placeholder="Example:大主宰"/>
        </div>
        <button type="submit" class="btn btn-default">搜索一下</button>
      </form> 

    </div>

  </body>
</html>

